<div class="reg-form-div">
  <div class="form shadow">
    <div class="form-inputs">
      <div class="form-input">
        <mat-form-field color="accent">
          <mat-label>Name:</mat-label>
          <input #name matInput />
        </mat-form-field>
      </div>

      <div class="form-input">
        <mat-form-field color="accent">
          <mat-label>Last name:</mat-label>
          <input #lastName matInput />
        </mat-form-field>
      </div>

      <div class="form-input">
        <mat-form-field color="accent">
          <mat-label>Username:</mat-label>
          <input #username matInput />
          <mat-hint>Min 5 characters</mat-hint>
        </mat-form-field>
      </div>

      <div class="form-input">
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select #gender>
            <mat-option value="male">male</mat-option>
            <mat-option value="female">female</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-input">
        <mat-form-field color="accent">
          <mat-label>Gmail:</mat-label>
          <input #gmail matInput />
        </mat-form-field>
      </div>

      <div class="form-input">
        <mat-form-field color="accent">
          <mat-label>Mobile number:</mat-label>
          <input #number matInput />
        </mat-form-field>
      </div>

      <div class="form-input">
        <mat-form-field color="accent">
          <mat-label>Password:</mat-label>
          <input #password1 type="password" matInput />
          <mat-hint>Min 7 characters</mat-hint>
        </mat-form-field>
      </div>

      <div class="form-input">
        <mat-form-field color="accent">
          <mat-label>Repeat Password:</mat-label>
          <input #password2 type="password" matInput />
          <mat-hint>Min 7 characters</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="form-buttons">
      <button
        (click)="
          signUp(
            name,
            lastName,
            username,
            gender,
            gmail,
            number,
            password1,
            password2
          )
        "
        mat-raised-button
      >
        Sign Up
      </button>
    </div>
    <div class="login-buttons">
      <div>Already have an account?</div>
      <button mat-raised-button (click)="signIn()">Sign In</button>
    </div>
  </div>
